*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --green: #009688;
    --bg-grey: #DBDBD2;
    --activeChat: #E9EBEB;
    --hoverChat: #F2F2F2;
    --bgHeaderApp: #EAEAEA;
    --bgActiveNotify: #8EDAFC;
    --sentMessage: #D5F9BA;
    --icons: #B1B1B1;
}
/* main wrappers */
main{
    background-color: var(--bg-grey);
}
header{
    background-color: var(--green);
    height: 150px;
    position: absolute;
    top: 0;
    z-index: 2;
}
.web-app{
    background-color: white;
    height: 90%;
    z-index: 3;
    position: relative;
    box-shadow: 0px 0px 20px #00000040;
}
.left-app,.right-app{
    height: 100%;
}
/* left app */

.left-app{
    width: 100%;
    border-right: 1px solid rgba(128, 128, 128, .3);
    
}
/* headerLeftApp */
.headerLeftApp{
    background-color: var(--bgHeaderApp);
}

.userImg{
    width: 40px;
    cursor: pointer;

}
.userImg img{
    width: 100%;
    border-radius: 50%;
}
.settingIcons i{
    color: var(--icons);
    font-size: 1.5rem;
    cursor: pointer;
}
/* nothifications */
.notificationsAlert{
    background-color: var(--bgActiveNotify);
}
.notificationIcon{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.notificationIcon i{
    color: var(--bgActiveNotify);
}
.notificationSheets a{
    color: grey;
}
/* searching bar */
.searchBar{
    background-color: var(--bgHeaderApp);
    height: 54px;
}
.input-group-text{
    color: var(--icons);
    cursor: pointer;
}
.input-group input{
    font-weight: 500;
}
.input-group input::placeholder{
    opacity: .7;
}
/* friends */
.friendsList{
    overflow-y: auto;
    height: calc(100% - 54px);
}
.singleFriend{
    border-top: 1px solid rgba(128, 128, 128, .15);
    cursor: pointer;
}
.singleFriend:hover {
    background-color: var(--hoverChat);
}
.friendImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.friendImg img{
    width: 100%;
}
.friendName span{
    color: var(--icons);
}
.messagedate {
    color: var(--icons);
}

/* /left app */

/* right app */
.right-app{
    width: 0%;
    background-color: var(--bgHeaderApp);
}
/* headerRightApp */
.right-app .headerRightApp{
    height: 72px;
}
/* mainContent */
.right-app .mainContent{
    height: calc(100% - 72px - 72px);
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
}
/* userBar */
.right-app .userBar{
    height: 72px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
    .left-app{
        width: 40%;
    }
    .right-app{
        width: 60%;
    }
}